html,
body {
  height: 100%;
}

body {
  background: #070707;
  @extend %monserat-300;
  font-size: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;

}

main {
  flex-grow: 1;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1070px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;

  &__items {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    @extend %monserat-500;
    color: #fff;
    font-size: 24px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #252525;
  }

  &__list--active {
    width: 60px;
    height: 60px;
    background-color: $accent;

    .pagination__link {
      color: #000;
      @extend %monserat-700;
      font-size: 32px;
    }
  }
}

.breadcrumbs {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  &__item {
    display: flex;
    gap: 15px;
  }

  &__link {
    @extend %monserat-300;
    color: #A4A4A4;
    position: relative;

    &::after {
      content: '/';
      position: absolute;
      top: 1px;
      right: -10px;

    }
  }

  &__link-last {
    &::after {
      display: none;
    }
  }

  &__list--active {
    color: $accent;
  }
}