$accent: #FFC700;
$wrapper:#B7B7B7;


%monserat-300 {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: 300;
}
%monserat-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%monserat-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}
%monserat-600 {
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}
%monserat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
%monserat-800 {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  font-weight: 800;
}
%monseratalt-300 {
  font-family: 'MontserratAlternates-Light', sans-serif;
  font-weight: 300;
}