@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding-top: 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__form {
    position: relative;
  }

  &__input-img {
    position: absolute;
    content: '';
    top: 6px;
    left: 14px;
  }

  &__input {
    width: 225px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    border: 1px solid #fff;
    padding-left: 32px;
    outline: none;
    color: #fff;
    font-size: 12px;

    &::placeholder {
      color: #fff;
      font-size: 12px;
    }
  }

  &__info {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__laguage {
    display: flex;
    gap: 20px;
  }

  &__shop {
    display: flex;
    gap: 30px;
  }

  &__text {
    color: #868686;
  }

  &__text--active {
    color: #fff;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 20px;
      background: #fff;
      top: -2px;
      right: -10px;
    }
  }

  &__text--active-ua {
    color: #fff;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 20px;
      background: #fff;
      top: -2px;
      left: -10px;
    }
  }

  &__bottom {
    display: flex;
    width: 1150px;
    margin: 0 auto;


  }

  &__item {
    width: 165px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item--active {
    background-image: url('../images/icons/header-link.png');

    a {
      color: #000;
    }

  }

  &__bottom-link {
    color: #fff;
    font-size: 18px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #191919;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-bot {
    margin-bottom: 15px;
  }

  &__images {
    width: 40px;
    height: 40px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__title {
    display: block;
    margin-bottom: 18px;
    @extend %monserat-600;
    font-size: 24px;
  }

  &__item {
    color: $wrapper;
    margin-bottom: 8px;
  }

  &__item-link {
    color: inherit;
  }

  &__info-title {
    @extend %monserat-600;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__text {
    color: $wrapper;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__input {
    width: 190px;
    background-color: #363636;
    border: none;
    height: 33px;
    outline: none;
    color: $accent;
    font-size: 12px;
    padding-left: 15px;

    &::placeholder {
      color: $accent;
      font-size: 12px;
    }
  }

  &__btn {
    height: 30px;
    background-color: $accent;
    border: none;
    font-size: 12px;
    cursor: pointer;
  }
}





.branding {
  margin-bottom: 100px;
  &__inner {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
&__image{
  position: absolute;
  content: '';
  top: 0;
  right: -156px;
  
}
  &__title {
    text-transform: uppercase;
    @extend %monserat-800;
    font-size: 82px;
    line-height: 77px;
    margin-bottom: 35px;

    span {
      color: $accent;
    }
  }

  &__text {
    @extend %monserat-400;
    font-size: 24px;
    color: #A8A8A8;
    margin-bottom: 45px;
  }

  &__link {
    color: #1c1c1c;
    font-size: 20px;
    @extend %monserat-800;
    background-color: $accent;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.services{
  margin-bottom: 200px;
  &__title{
    text-align: center;
    @extend %monserat-700;
    font-size: 72px;
    span{
      color: $accent;
    }
  }
  &__text{
    text-align: center;
    font-size: 32px;
    @extend %monseratalt-300;
    color: #949494;
    margin-bottom: 80px;  
  }

  &__item{
    height: 405px;
    width: 335px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  &__item-img{
    width: 133px;
    height: 133px;
    object-fit: cover;
  }
  &__item-title{
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    @extend %monserat-700;
    margin-bottom: 15px;
  }
  &__item-text{
  
    @extend %monseratalt-300;
    color: #F0F0F0;
    margin-bottom: 20px;
  }
  &__item-link{
    color: $accent;
    @extend %monserat-500;
    width: 150px;
    height: 50px;
    background-color:#171717;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px 30px;
  }
}



























@import 'media';