@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding-top: 40px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__form {
    position: relative;
  }

  &__input-img {
    position: absolute;
    content: '';
    top: 6px;
    left: 14px;
  }

  &__input {
    width: 225px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    border: 1px solid #fff;
    padding-left: 32px;
    outline: none;
    color: #fff;
    font-size: 12px;

    &::placeholder {
      color: #fff;
      font-size: 12px;
    }
  }

  &__info {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__laguage {
    display: flex;
    gap: 20px;
  }

  &__shop {
    display: flex;
    gap: 30px;
  }

  &__text {
    color: #868686;
  }

  &__text--active {
    color: #fff;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 20px;
      background: #fff;
      top: -2px;
      right: -10px;
    }
  }

  &__text--active-ua {
    color: #fff;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 20px;
      background: #fff;
      top: -2px;
      left: -10px;
    }
  }

  &__bottom {
    display: flex;
    width: 1150px;
    margin: 0 auto;


  }

  &__item {
    width: 165px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item--active {
    background-image: url('../images/icons/header-link.png');

    a {
      color: #000;
    }

  }

  &__bottom-link {
    color: #fff;
    font-size: 18px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #191919;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-bot {
    margin-bottom: 15px;
  }

  &__images {
    width: 40px;
    height: 40px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }

  &__links {
    display: flex;
    gap: 20px;
  }

  &__title {
    display: block;
    margin-bottom: 18px;
    @extend %monserat-600;
    font-size: 24px;
  }

  &__item {
    color: $wrapper;
    margin-bottom: 8px;
  }

  &__item-link {
    color: inherit;
  }

  &__info-title {
    @extend %monserat-600;
    font-size: 20px;
    margin-bottom: 5px;
  }

  &__text {
    color: $wrapper;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__input {
    width: 190px;
    background-color: #363636;
    border: none;
    height: 33px;
    outline: none;
    color: $accent;
    font-size: 12px;
    padding-left: 15px;

    &::placeholder {
      color: $accent;
      font-size: 12px;
    }
  }

  &__btn {
    height: 30px;
    background-color: $accent;
    border: none;
    font-size: 12px;
    cursor: pointer;
  }
}





.branding {
  margin-bottom: 100px;

  &__inner {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__image {
    position: absolute;
    content: '';
    top: 0;
    right: -156px;
    overflow: hidden;

  }

  &__title {
    text-transform: uppercase;
    @extend %monserat-800;
    font-size: 82px;
    line-height: 77px;
    margin-bottom: 35px;

    span {
      color: $accent;
    }
  }

  &__text {
    @extend %monserat-400;
    font-size: 24px;
    color: #A8A8A8;
    margin-bottom: 45px;
  }

  &__link {
    color: #1c1c1c;
    font-size: 20px;
    @extend %monserat-800;
    background-color: $accent;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.services {
  margin-bottom: 200px;

  &__title {
    text-align: center;
    @extend %monserat-700;
    font-size: 72px;

    span {
      color: $accent;
    }
  }

  &__text {
    text-align: center;
    font-size: 32px;
    @extend %monseratalt-300;
    color: #949494;
    margin-bottom: 80px;
  }

  &__item {
    height: 405px;
    width: 335px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__item-img {
    width: 133px;
    height: 133px;
    object-fit: cover;
  }

  &__item-title {
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    @extend %monserat-700;
    margin-bottom: 15px;
  }

  &__item-text {

    @extend %monseratalt-300;
    color: #F0F0F0;
    margin-bottom: 20px;
  }

  &__item-link {
    color: $accent;
    @extend %monserat-500;
    width: 150px;
    height: 50px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px 30px;
  }
}

.print {
  margin-bottom: 160px;

  &__title {
    @extend %monserat-400;
    font-size: 48px;

    span {
      color: $accent;
    }
  }

  &__text {
    color: #B8B8B8;
    @extend %monserat-300;
    font-size: 32px;
  }

  &__image {
    width: 435px;
    height: 390px;
    object-fit: cover;
  }



  .slick-prev,
  .slick-next {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: inherit;
    font-size: 0;
    width: 24px;
    height: 42px;
    background-repeat: no-repeat;
  }

  .slick-next {
    right: -80px;
    background-image: url('../images/icons/arrow-right.svg');
  }

  .slick-prev {
    left: -80px;
    background-image: url('../images/icons/arrow-left.svg');
  }
}

.stock {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 100px;

  &__item {
    display: flex !important;
    align-items: center;
  }

  &__img {
    width: 675px;
    height: 600px;
    object-fit: cover
  }

  &__title {
    @extend %monserat-700;
    font-size: 52px;
    color: #252525;
    margin-bottom: 10px;
  }

  &__text {
    color: #262626;
    font-size: 24px;
    @extend %monserat-400;
    margin-bottom: 55px;
  }

  &__link {
    @extend %monserat-800;
    color: #fff;
    font-size: 20px;
    width: 200px;
    height: 60px;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: inherit;
    font-size: 0;
    width: 24px;
    height: 40px;
    background-repeat: no-repeat;
  }

  .slick-next {
    right: -80px;
    background-image: url('../images/icons/arrow-right-black.svg');
  }

  .slick-prev {
    left: -80px;
    background-image: url('../images/icons/arrow-left-black.svg');
  }
}

.top-sale {

  margin-bottom: 225px;

  &__title {
    text-align: center;
    @extend %monserat-700;
    font-size: 72px;

    span {
      color: $accent;
    }

  }

  &__text {
    color: #949494;
    font-size: 32px;
    text-align: center;
    margin-bottom: 95px;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
    margin: 0 20px;

  }

  &__btn {
    background-color: inherit;
    border: none;
    padding: 8px 22px;
    color: #fff;
    @extend %monserat-400;
    font-size: 24px;
    cursor: pointer;
  }

  .mixitup-control-active {
    background-color: $accent;
    @extend %monserat-600;
    color: #070707;

  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: 230px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__item-image {
    width: 230px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 25px;
  }

  &__item-title {
    font-size: 20px;
    color: #fff;
    @extend %monserat-300;
    margin-bottom: 5px;
  }

  &__item-text {
    @extend %monserat-700;
    font-size: 24px;
    color: #f0f0f0;
  }


}

.catalog {
  margin-bottom: 200px;

  &__items {
    display: grid;
    grid-gap: 45px 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    width: 350px;
    height: 400px;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-img {
    margin-top: 45px;
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
  }

  &__item-title {
    @extend %monserat-700;
    font-size: 32px;
    color: #fff;
  }

  &__item-text {
    @extend %monseratalt-300;
    color: $accent;
    font-size: 14px;
  }

}

.reviews {
  background-image: url('../images/reviews/reviews-bg.png');
  background-position: center 85%;
  background-repeat: no-repeat;

  &__inner {
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
  }

  &__items {
    margin-top: 75px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 335px !important;
    height: 560px;
    background-color: #fff;
    border-radius: 20px;
    margin: 66px 382px;
  }

  &__item {
    width: 300px;
    height: 160px;
    background-color: #c4c4c4;
    border-radius: 20px;
    color: #000;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__item-box {
    display: flex;
    gap: 10px;
  }

  &__img {
    width: 25px;
    height: 25px;
    background-color: #5C5C5C;
    border-radius: 50%
  }

  &__item-box-title {
    font-size: 14px;
  }

  &__item-box-text {
    font-size: 12px;
  }

  &__item-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__link {
    font-size: 12px;
    color: inherit;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 5px;
      right: -15px;
      background-image: url('../images/reviews/arrow-down.svg');
      background-repeat: no-repeat;

    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: inherit;
    font-size: 0;
    width: 24px;
    height: 40px;
    background-repeat: no-repeat;
    z-index: 10;

  }

  .slick-arrow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #070707;

  }

  .slick-next {
    right: 265px;
    background-image: url('../images/icons/arrow-right.svg');
    background-position: center;
  }

  .slick-prev {
    left: 265px;
    background-image: url('../images/icons/arrow-left.svg');
    background-position: center;
  }


}

.popup {

  margin-bottom: 250px;

  .top-sale__title,
  .top-sale__text {
    text-align: left;
  }

  &__video {
    display: flex;
    justify-content: center;
  }

}

.contact {
  margin-bottom: 200px;

  #map {
    width: 535px;
    height: 500px;
  }

  .top-sale__text {
    margin-bottom: 200px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 450px;
  }

  &__input {
    padding: 20px 40px;
    margin-bottom: 30px;
    border: none;
    background-color: #111;
    color: $accent;
    outline: none;
    @extend %monserat-400;
    clip-path: polygon(24px 0px, 0px 100%, 95% 100%, 100% 0%);

    &::placeholder {
      color: $accent;
    }
  }

  &__btn {
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    @extend %monserat-800;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__info {
    display: flex;
    justify-content: space-between;

  }
}

.info {
  margin-bottom: 155px;

  &__inner {
    display: flex;
    justify-content: center;
  }

  &__items {
    display: flex;
    gap: 60px;
  }

  &__item {
    width: 280px;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
  }

  &__img {
    margin-top: 60px;
    margin-bottom: 45px;
  }

  &__title {
    @extend %monserat-600;
    font-size: 32px;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 75px;
  }

  &__link {

    color: #fff;
  }
}


.shop-page {
  padding-top: 110px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  &__option {
    display: flex;
    align-items: center;

  }

  &__select {
    margin-right: 25px;
  }

  &__info {
    margin-right: 10px;
  }

  .jq-selectbox__select {

    background-color: $accent;
    display: flex;
    align-items: center;
    padding: 6px 37px 7px 19px;
    color: #000;
    position: relative;
    clip-path: polygon(16px 0px, 2px 100%, 100% 100%, 95% 4.15%);

  }

  .jq-selectbox__trigger {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    top: 13px;
    right: 15px;
  }

  &__content {
    display: grid;
    grid-gap: 120px 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 120px;
  }

  .top-sale__item {
    width: 260px;
    height: 340px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.shop-one {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
  }

  &__title {
    @extend %monserat-700;
    font-size: 64px;
  }

  &__text {
    font-size: 24px;
    @extend %monserat-400;
    color: #B5B5B5;
    margin-bottom: 10px;
  }

  &__star {
    padding-left: 0;
    margin-bottom: 35px;
  }

  &__sum {
    @extend %monserat-600;
    font-size: 40px;
    color: $accent;
    margin-bottom: 40px;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__like {
    display: flex;
    gap: 30px;
  }

  &__btn {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    background-color: inherit;
    color: $accent;
    border: 2px solid $accent;
    cursor: pointer;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  .jq-selectbox__select {
    background-color: $accent;
    display: flex;
    align-items: center;
    padding: 6px 37px 7px 19px;
    color: #000;
    position: relative;
    @extend %monserat-400;
    font-size: 14px;
    clip-path: polygon(16px 0px, 2px 100%, 100% 100%, 95% 4.15%);
  }

  .jq-selectbox__trigger {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    top: 13px;
    right: 15px;
  }

  .jq-selectbox__dropdown {
    width: 100px;
    height: auto;
    bottom: auto;
    top: 22px;
    left: -15px;
  }

  &__input {
    width: 95px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: #000;
    position: relative;
    clip-path: polygon(16px 0px, 2px 100%, 100% 100%, 95% 4.15%);
    padding-left: 25px;
    background-color: $accent;
    position: relative;
    @extend %monserat-400;
    font-size: 18px;
  }

  .jq-number__spin.minus,
  .jq-number__spin.plus {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 11px;
    color: #000;
    background-repeat: no-repeat;


  }

  .jq-number {
    position: relative;
  }

  .jq-number__spin.plus {
    right: 10px;
    background-image: url('../images/icons/plus.svg');
  }

  .jq-number__spin.minus {
    left: 12px;
    background-image: url('../images/icons/minus.svg');
  }

  &__description {
    margin-bottom: 140px;
  }

  &__description-title {
    font-size: 36px;
    @extend %monserat-700;
    margin-bottom: 35px;
  }

  &__description-text {
    color: #A5A5A5;
    @extend %monserat-400;
    font-size: 24px;
  }

  &__recomend {
    margin-bottom: 110px;

    .reviews-one__title {
      margin-bottom: 45px;
    }
  }

  &__recomend-item {
    display: flex;
    justify-content: space-between;
  }
}

.reviews-one {
  &__top {
    display: flex;
    gap: 30px;
    margin-bottom: 45px;
  }

  &__title {
    @extend %monserat-700;
    font-size: 36px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 50px;
    background-color: inherit;
    color: $accent;
    border: 2px solid $accent;
    cursor: pointer;
  }

  &__comments-box {
    display: flex;
    gap: 30px;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  &__info-title {
    @extend %monserat-600;
    font-size: 24px;
    margin-bottom: 5px;
  }

  &__info-star {
    padding-left: 0;

  }

  &__info-text {
    padding-left: 110px;
    @extend %monserat-400;
    color: #A5A5A5;
    font-size: 20px;
  }

  &__item {
    margin-bottom: 115px;
  }



}


.basket {
  &__title {
    padding-top: 55px;
    @extend %monserat-600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__items {
    margin-bottom: 55px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 55px;
  }

  .shop-one__form {
    margin-bottom: 0;
  }

  .shop-one__sum {
    margin-bottom: 0;
    position: relative;
  }

  &__link {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #F0F0F0;
    top: 58px;
    right: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .jq-selectbox__select {
    background-color: $accent;
    display: flex;
    align-items: center;
    padding: 6px 37px 7px 19px;
    color: #000;
    position: relative;
    @extend %monserat-400;
    font-size: 14px;
    clip-path: polygon(16px 0px, 2px 100%, 100% 100%, 95% 4.15%);
  }

  .jq-selectbox__trigger {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../images/icons/arrow-down.svg');
    background-repeat: no-repeat;
    top: 13px;
    right: 15px;
  }

  .jq-selectbox__dropdown {
    width: 100px;
    height: auto;
    bottom: auto;
    top: 22px;
    left: -15px;
  }

  .jq-number__spin.minus,
  .jq-number__spin.plus {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 11px;
    color: #000;
    background-repeat: no-repeat;


  }

  .jq-number {
    position: relative;
  }

  .jq-number__spin.plus {
    right: 10px;
    background-image: url('../images/icons/plus.svg');
  }

  .jq-number__spin.minus {
    left: 12px;
    background-image: url('../images/icons/minus.svg');
  }

  &__order-info {
    display: flex;
    gap: 90px;
  }

  &__form {
    width: 440px;
  }

  &__input {
    width: 440px;
    padding: 18px 25px;
    margin-bottom: 30px;
    color: $accent;
    background-color: #111111;
    outline: none;
    border: none;

    &::placeholder {
      color: $accent;
    }
  }

  &__box {
    display: flex;
    gap: 80px;
    margin-bottom: 70px;


  }

  &__box-name {
    display: block;
    margin-bottom: 15px;
    @extend %monserat-600;
    font-size: 18px;
  }

  &__label {
    display: flex;
    margin-bottom: 15px;
  }

  &__hide {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.basket__checkbox {
      background-image: url('../images/icons/arrow-yellow.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    background-color: #111;
  }

  &__box-text {
    padding-left: 10px;
    @extend %monserat-400;
    color: $accent;
  }

  .shop-one__btn {
    width: 220px;
  }

  &__book {
    color: #9B9B9B;
    @extend %monserat-500;
    margin-bottom: 15px;

    span {
      color: $accent;
    }
  }

  &__book-title {
    padding-top: 15px;
    font-size: 32px;
    @extend %monserat-600;
    margin-bottom: 30px;

    span {
      color: $accent;
    }
  }
  &__order{
    margin-bottom: 130px;
  }
}
















@import 'media';